In [ ]:
#Creating variables

var = 1
print(var)

In [ ]:
#Using variables
#You're allowed to use as many variable declarations as you need to achieve your goal, like this:

var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

In [ ]:
#You're not allowed to use a variable which doesn't exist

var = 1
print(Var)

In [ ]:
#You can use the print() function and combine text and variables using the + operator to output strings and variable

var = "3.8.5"
print("Python version: " + var)

In [ ]:
#Assigning a new value to an already existing variable
#The equal sign is in fact an assignment operator

var = 1
print(var)
var = var + 1
print(var)

In [ ]:
#Solving simple mathematical problems
#The square of the hypotenuse is equal to the sum of the squares of the other two sides.

a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

#Note: we need to make use of the ** operator to evaluate the square root as:

In [ ]:
#Leaving comments in code: why, how, and when
# This program evaluates the hypotenuse c.
# a and b are the lengths of the legs.
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5  # We use ** instead of square root.
print("c =", c)

In [ ]:
# mark a piece of code that currently isn't needed .
# This is a test program.
x = 1
y = 2
# y = y + x
print(x + y)

In [ ]:
#The input() function

print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [ ]:
#The input() function with an argument; The input() function - prohibited operations
#A string containing all the characters the user enters from the keyboard. It is not an integer or a float.

anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
#Type casting
#Python offers two simple functions to specify a type of data and solve this problem - here they are: int() and float().

anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
#More about input() and type casting
#The program asks the user twice for both legs' lengths, evaluates the hypotenuse and prints the result.
#Run it and try to input some negative values.

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

In [ ]:
#print() function accepts an expression as its argument, you can remove the variable from the code.

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

In [ ]:
#Concatenation (concatenates (glues) two strings into one)


fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

In [ ]:
#Replication
# * replicates the string the same number of times specified by the number.

print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

In [ ]:
#Type conversion: str()
#The "right-angle triangle" again
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

#We've modified it a bit to show you how the str() function works. Thanks to this, 
#we can pass the whole result to the print() function as one string, forgetting about the commas.

**************************************in class Labs********************************************

#in class Lab 01.

#Once upon a time in Appleland, John had three apples, Mary had five apples, and Adam had six apples. 
#They were all very happy and lived for a long time. End of story.

#Your task is to:

    #create the variables: john, mary, and adam;
    #assign values to the variables. The values must be equal to the numbers of fruit possessed by John, Mary, and Adam respectively;
    #having stored the numbers in the variables, print the variables on one line, and separate each of them with a comma;
    #now create a new variable named total_apples equal to addition of the three former variables.
    #print the value stored in total_apples to the console;
    #experiment with your code: create new variables, assign different values to them, and perform various arithmetic 
    #operations on them (e.g., +, -, *, /, //, etc.). Try to print a string and an integer together on one line, e.g., 
    #"Total number of apples:" and total_apples.

#in class Lab 02. Miles and kilometers are units of length or distance
#Bearing in mind that 1 mile is equal to approximately 1.61 kilometers, complete the program in the editor so that it converts:
#    miles to kilometers;
#    kilometers to miles.
#    Do not change anything in the existing code.
#    Write your code in the places indicated by 
###. Test your program with the data we've provided in the source code.

###. 7.38 miles is 11.88 kilometers ###. 
###. 12.25 kilometers is 7.61 miles ###.

In [ ]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

#in class Lab 03 
#Take a look at the code in the editor: it reads a float value, 
#puts it into a variable named x, and prints the value of a variable named y. 
#Your task is to complete the code below in order to evaluate the following expression:
#3x3 - 2x2 + 3x - 1  (3x power 3 - 2x power 2 + 3x - 1  

x =  # hardcode your test data here
x = float(x)
# write your code here
print("y =", y)

Test Data

Sample input
x = 0
x = 1
x = -1

Expected Output
y = -1.0
y = 3.0
y = -9.0

In [ ]:
x =  # hardcode your test data here
x = float(x)
# write your code here
print("y =", y)

#in class Lab 04
The code in the editor contains comments. Try to improve it: 
    add or remove comments where you find it appropriate (yes, sometimes removing a comment can make the code more readable), a
    nd change variable names where you think this will improve code comprehension.

In [ ]:
#this program computes the number of seconds in a given number of hours
# this program has been written two days ago

a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour

print("Hours: ", a) #printing the number of hours
# print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours

#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

In [ ]:
#in class Lab 05. 
#Your task is to complete the code in order to evaluate the results of four basic arithmetic operations.
#The results have to be printed to the console.
#You may not be able to protect the code from a user who wants to divide by zero. That's okay, don't worry about it for now.
#Test your code - does it produce the results you expect?

#-------------------------------------------------------------------------------------------------------------------------------#


# input a float value for variable a here
# input a float value for variable b here

# output the result of addition here
# output the result of subtraction here
# output the result of multiplication here
# output the result of division here

print("\nThat's all, folks!")

In [ ]:
#in class Lab 06.

x =  # hardcode your test data here
x = float(x)
# write your code here
print("y =", y)

#in class Lab 07.
The code in the editor contains comments. Try to improve it: add or remove comments where you find it appropriate (yes, sometimes removing a comment can make the code more readable), and change variable names where you think this will improve code comprehension.


#this program computes the number of seconds in a given number of hours
# this program has been written two days ago
a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour
print("Hours: ", a) #printing the number of hours
# print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours
#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

In [ ]:
#this program computes the number of seconds in a given number of hours
# this program has been written two days ago

a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour

print("Hours: ", a) #printing the number of hours
# print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours

#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

#in class Lab 8

Scenario
Your task is to prepare a simple code able to evaluate the end time of a period of time, given as a number of minutes (it could be arbitrarily large). The start time is given as a pair of hours (0..23) and minutes (0..59). The result has to be printed to the console.
For example, if an event starts at 12:17 and lasts 59 minutes, it will end at 13:16.
Don't worry about any imperfections in your code - it's okay if it accepts an invalid time - the most important thing is that the code produce valid results for valid input data.
Test your code carefully. Hint: using the % operator may be the key to success.
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

# Write your code here.
Test Data
Sample input: 12 17 59
Expected output: 13:16

Sample input: 23 58 642

In [ ]:
#in class Lab 8


hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))